WCFStreamingServiceAndClientApi/Service References/ServiceReference1/MyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.21.104:8031/MyService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" />
  <xs:import schemaLocation="http://192.168.21.104:8031/MyService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="MyOperation1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyOperation1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyOperation1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyOperation2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="dataContractValue" nillable="true" type="q1:DataContract1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyOperation2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyOperation2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PathToWatch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IncludeSubdirectories" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartWatchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopWatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopWatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopWatchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToFileServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToFileServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectToFileServerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileToServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileToServerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Close">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshFileList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshFileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RefreshFileListResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWCFStreamingServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
        <xs:element minOccurs="0" name="storageFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWCFStreamingServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartWCFStreamingServerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllFilesOnServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllFilesOnServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAllFilesOnServerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseWCFStreamingServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseWCFStreamingServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseWCFStreamingServerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWCFStreamingServerRepositoryFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storageFolder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWCFStreamingServerRepositoryFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetWCFStreamingServerRepositoryFolderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropBoxInitialize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DropBoxInitializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropBoxInitializeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropBoxClose">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DropBoxCloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropBoxCloseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropBoxUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropBoxUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropBoxUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCallbackMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDataCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buf" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>